.modal {
  background-color: white;
  color: rgb(12, 12, 82);
  border: 0;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  max-width: 40ch;
}
.modal::backdrop {
  background: linear-gradient(45deg, red, blue);
  opacity: 0.7;
}
.btn {
  padding: 20px 30px;
  border-radius: 6px;
  background-color: rgb(98, 15, 146);
  border: 0;
  color: aliceblue;
}

nav {
  position: absolute;
  background-color: beige;
  transition: all 1s ease-in;
}

[data-nav-opened='false'] {
  inset: 0 0 0 85%;
  opacity: 1;
}

[data-nav-opened='true'] {
  inset: 0 0 0 15%;
  opacity: 0.7;
}

body {
  width: 84%;
}
